<p id="notice"><%= notice %></p>

<h1>Teachers</h1>
<h4>Click on a teacher's name to view class info and add a student</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Room number</th>
      <th>Age group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.name, teacher_path(id: teacher.id) %></td>
        <td><%= teacher.room_number %></td>
        <td><%= teacher.age_group %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Teacher', new_teacher_path, class: 'btn btn-success' %>
