<p id="notice"><%= notice %></p>

<p>
  <h1>Welcome to <%= @teacher.name %>'s Class</h1>
</p>


  <strong>Located in Room number:</strong>
  <%= @teacher.room_number %>


<p>
  <strong>Age group:</strong>
  <%= @teacher.age_group %>
</p>


<div class="well">
	<h3><%= @teacher.name %>'s Student Roster</h3>
	<% @teacher.students.each do |student|%>
		<p><%= student.name %></p>
	<% end %>	
</div>




<h4>Add A New Student:</h4>
<%= render '/students/form', student: @student %>	


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
